@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div align="center">
        <h1>Community Medicine Automation</h1>
        <h3>Developed by "CodeHunters"</h3>
        <a href="@Url.Action("Index","HeadOffice")" target="_blank"><button style="width: 100px; height: 100px">Head Office</button></a>
        <a href="@Url.Action("Login", "CenterOffice")" target="_blank"><button style="width: 100px; height: 100px">Center Login</button></a>
    </div>
</body>
</html>
